@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter&family=Roboto+Mono&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
    font-family: "Roboto Mono", monospace;
}

main {
    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;

        * {
            cursor: pointer;
        }

        select {
            background-color: wheat;
            padding: 5px;
            border: 3px solid black;
            border-radius: 20px;

            &:disabled {
                background-color: gray;
                color: black;
                border: none;
            }
        }

        h1 {
            font-size: 2rem;
            color: black;
            text-shadow: 4px 4px 20px gray;
            transition: ease-out 200ms 0.1s text-shadow;

            &:hover {
                text-shadow: 0 0 20px black;
            }
        }

        label {
            font-weight: 900;
            color: black;
        }

        input[type="number"] {
            outline: none;
            background-color: wheat;
            padding: 5px;
            padding-left: 20px;
            border: 2px solid black;
            border-radius: 20px;
            font-family: "Roboto Mono", monospace;
            font-weight: 900;
            color: black;

            &:disabled {
                background-color: gray;
                color: white;
                border: none;
            }
        }

        button {
            background-color: wheat;
            padding: 10px 20px;
            border-radius: 30px;
            outline: none;
            border: 3px solid black;

            &:disabled {
                background-color: gray;
                color: black;
                border: none;
            }
        }
    }

    .grid {
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;

        .node {
            width: 30px;
            height: 30px;
            margin: 10px;
            background-color: wheat;
            border: 2px solid black;
            cursor: pointer;
            box-shadow: 5px 5px 8px gray;

            &:hover {
                scale: 1.5;
                box-shadow: 0px 0px 0px black;
            }
        }

        .wall {
            background-color: black;
        }

        .fill {
            background-color: blue;
        }
    }
}
