@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
}

main {
    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .grid {
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;

        .node {
            width: 30px;
            height: 30px;
            margin: 10px;
            background-color: white;
            border: 1px solid black;
            cursor: pointer;
        }

        .wall {
            background-color: black;
        }
    }
}
