@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    font-family: "IBM Plex Serif", serif;
    font-family: "Inter", sans-serif;
}

main {
    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
